@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --titleColor: hsl(0, 0%, 20%);
    --textColor: hsl(0, 0%, 46%);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-bodyColor text-textColor font-poppins;
  }

  h1,
  h2,
  h3 {
    @apply text-titleColor font-semibold;
  }

  input,
  button,
  textarea {
    @apply text-normal-font;
  }
}

@layer components {
  .section {
    @apply pt-24 pb-8;
  }

  .section__title {
    @apply text-h1-font text-titleColor mb-16 text-center;
  }

  .section__subtitle {
    @apply block text-small-font text-center;
  }

  .container {
    @apply max-w-[1024px] mx-auto;
  }

  .grid__section {
    @apply grid gap-6;
  }

  .button {
    @apply inline-block bg-titleColor border-none outline-none text-containerColor px-8 py-5 rounded-2xl font-medium cursor-pointer hover:bg-titleColorDark;
  }

  .button__icon {
    @apply ml-2;
  }

  .button--flex {
    @apply inline-flex items-center;
  }
}

.swiper-pagination-bullet {
  background-color: var(--textColor) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--titleColor) !important;
}
